#character-list{
    font-size: 32px;
}

.character-name{
    display:inline-block;
}
  
.status-condition{
    display:none;
    margin-left: 10px;
    background-color:orange;
    padding: 5px 10px 5px 10px;
    border-radius: 14px;
}

.health-bar-group{
    position: relative;
    overflow: auto;
    height: 35px;
}

.health-bar-parent{
    width: 80%;
    border:1px solid black;
    float: left;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.health-bar{
    height:30px;
    background-color: red;
}

.player-max-health-num{
    margin: 0px 0px 0px 10px;
    display: inline;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.player-curr-health-num{
    margin-right: 10px;
    float: right;
    width: 40px;
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.curr-health-input{
    font-size: 32px;
}

.max-health-input{
    font-size: 32px;
}

.condition-label{
    font-size:16px;
    display:inline-block;
    width:fit-content;
    /* float:left;  */
}

.condition-text{
    font-size: 16px;
    display:inline-block;
    width:80%;
}